@tailwind base;
@tailwind components;
@tailwind utilities;

:root:has(.no-scroll) {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-barlow-condensed), "Arial", "Helvetica", "sans-serif";
}

body {
  @apply text-slate-500 bg-zinc-100;
  font-family: var(--font-montserrat), "Arial", "Helvetica", "sans-serif";
}

/* Homepage */

#homepage .hero {
  background: rgba(0, 0, 0, 0.5);
}

.invert-bg {
  @apply bg-slate-500 text-zinc-100;
}
